/* rich black darkest : #000D15;
    rich black darker : #001320;
    rich black blue : #00192A;
    prussian blue darker: #00253F;
    prussian blue: #003153;
    paynes gray: #40657E;
    cadet grey: #8098A9;
    french grey: #C0CCD4; */
/* .neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
        0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
} */

html {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Gotu", "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 100;
    width: 100%;
    height: auto;
    color-scheme: dark;
    background-color: #000d15;
    font-size: 1em;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    /* max-width: 1280px; */
    width: 100%;
    height: auto;
}

ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    padding: 2px 0;
    justify-content: space-around;
}

li {
    margin: 1px;
    width: 100%;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

button {
    width: 100%;
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #001320;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    background-color: #00192a;
    border-color: #8f9daf;
    box-shadow: 0 0px #161b22, 0 0 10px #161b22, 0 0 10px #161b22;
}

.App {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto auto;
    grid-template-areas:
        "Header Nav"
        "Sidebar Sidebar"
        "Content Content";
}

@media only screen and (min-width: 768px) {
    .App {
        font-size: 150%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: min-content auto auto;
        grid-template-areas:
            "Header Nav"
            "Sidebar Sidebar"
            "Content Content";
    }
}
