.Carousel {
    height: 100%;
    width: 100%;
}
.Carousel ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    height: 100%;
    width: 100%;
}

.Carousel li {
    height: 100%;
    width: 100%;
}

.Carousel__swiper-slide {
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
}

.Carousel-Sidebar__micro-card {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #001320;
    cursor: pointer;
    transition: border-color 0.25s;
}

.Carousel-Sidebar__micro-card:hover {
    background-color: #00192a;
    border-color: #8f9daf;
    box-shadow: 0 0px #161b22, 0 0 10px #161b22, 0 0 10px #161b22;
}

.Carousel-Sidebar__micro-card a {
    width: 100%;
    height: 100%;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
}