.Content {
    grid-area: Content;
}

.Content__container {
    display: flex;
    flex-wrap: wrap;
}

.Content__container ul {
    display: flex;
    flex-wrap: wrap;
}

.Content__container button {
    width: fit-content;
}

.Content__delete-confirm-button {
    background-color: red;
}

.Content__delete-confirm-button:hover {
    background-color: red;
}

.Content__submit-confirm-button {
    background-color: green;
}

.Content__submit-confirm-button:hover {
    background-color: green;
}
